<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card" style="width: 100%;margin: 0 auto;">
          <div class="card-block">
            <div style="text-align:center;">
              <h4 class="form-login-heading">
                <strong>N57 Portal
                  <br>New Sailor Registration
                </strong>
              </h4>
              <hr>
              <br>
            </div>

            <mat-horizontal-stepper [linear]="true" style="text-align:center;">
              <!-- TODO:  Use better form validation -->
              <!-- ACCOUNT FORM GROUP -->
              <mat-step [stepControl]="accountFormGroup">
                <form [formGroup]="accountFormGroup" novalidate>
                  <!-- TODO:  turn labels green when form is valid -->
                  <ng-template matStepLabel>Account Information</ng-template>
                  <div style="min-height:285px">
                    <div class="row">
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput placeholder="Rate" formControlName="rate" id="rate" name="rate">
                        </mat-form-field>
                        <mat-form-field>
                          <mat-select placeholder="Rank" id="rank" name="rank" formControlName="rank">
                            <mat-option *ngFor="let rank of ranks" [value]="rank">{{rank}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput placeholder="First Name" formControlName="fname" id="firstname" name="firstname">
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput placeholder="Last Name" formControlName="lname" id="lastname" name="lastname">
                        </mat-form-field>
                      </div>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput placeholder="Official E-mail" formControlName="email" type="email" id="email" name="email">
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput placeholder="Password" formControlName="password" type="password" id="password" name="password">
                          <mat-hint align="end">
                              <ul>
                                <li [style.color]="specCharPassword() ? 'green' : 'red'">One Special character</li>
                                <li [style.color]="upperCharPassword() ? 'green' : 'red'">One UPPERCASE Letter</li>
                                <li [style.color]="lowerCharPassword() ? 'green' : 'red'">One lowercase Letter</li>
                                <li [style.color]="numberCharPassword() ? 'green' : 'red'">One Number</li>
                              </ul>
                              <div><p></p><br /><p></p></div>
                          </mat-hint>
                          <!-- <mat-error *ngIf="password.invalid">Hi</mat-error> -->
                        </mat-form-field>
                        <div><p></p></div>
                        <mat-form-field>
                          <input matInput placeholder="Confirm Password" formControlName="confirmpw"  type="password" id="confirm" name="confirm">
                          
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div>
                    <!-- TODO:  style these based on form validity -->
                    <button mat-fab matStepperNext color="primary" style="float:right" [disabled]="!accountFormGroup.valid" (click)="checkPassword()">Next</button>
                    
                  </div>
                </form>
              </mat-step>
              <!-- RECALL FORM GROUP -->
              <mat-step [stepControl]="recallFormGroup">
                <form [formGroup]="recallFormGroup" validate>
                  <ng-template matStepLabel>Recall Information</ng-template>
                  <div style="min-height:300px">
                    <mat-form-field>
                      <input matInput placeholder="Street Address" formControlName="street" id="street" name="street">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="City" formControlName="city" id="city" name="city">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-select placeholder="State" id="state" name="state" formControlName="state">
                        <mat-option *ngFor="let state of states" [value]="state.value">{{state.viewValue}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Zip Code" formControlName="zip" id="zip" name="zip">
                    </mat-form-field>
                    <mat-form-field hintLabel="i.e. 0000000000">
                      <input matInput placeholder="Phone" formControlName="phone" type="tel" id="phone" name="phone">
                    </mat-form-field>
                    <div>
                      <button mat-fab matStepperNext color="primary" style="float:right" [disabled]="!recallFormGroup.valid">Next</button>
                      <button mat-fab matStepperPrevious color="secondary" style="float:left">Back</button>
                    </div>
                  </div>
                </form>
              </mat-step>
              <!-- ADMIN FORM GROUP -->
              <mat-step [stepControl]="adminFormGroup">
                <form [formGroup]="adminFormGroup" novalidate>
                  <ng-template matStepLabel>Administrative Information</ng-template>
                  <div style="min-height:375px">
                    <!-- TODO:  Do something better with this -->
                    <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwjJtMPovtLVAhUB5oMKHW3JCKUQFggoMAA&url=https%3A%2F%2Fnsipsprod.nmci.navy.mil%2F&usg=AFQjCNFFz-TG1lUzoxm6pCzRuqTWX2pVxA"
                      target="_blank">
                      <i class="fa fa-question-circle fa-1x" style="color: #20a8d8" data-toggle="tooltip" title="Navigate to NSIPS > Employee Self Service > Electronic Service Record > Member Data Summary to find this information."></i>
                    </a>
                    <div class="row">
                      <div class="col-lg-6">
                        <!-- TODO:  custom pipe to format as milDate when using datepicker -->
                        <mat-form-field>
                          <input matInput [matDatepicker]="adsd" formControlName="adsd" placeholder="ADSD" id="adsd" name="adsd">
                          <mat-datepicker-toggle matSuffix [for]="adsd"></mat-datepicker-toggle>
                          <mat-datepicker #adsd></mat-datepicker>
                          <mat-hint>mm/dd/yyyy</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput [matDatepicker]="heaos" formControlName="heaos" placeholder="Hard EAOS" id="heaos" name="heaos">
                          <mat-datepicker-toggle matSuffix [for]="heaos"></mat-datepicker-toggle>
                          <mat-datepicker #heaos></mat-datepicker>
                          <mat-hint>mm/dd/yyyy</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput [matDatepicker]="seaos" formControlName="seaos" placeholder="Soft EAOS" id="seaos" name="seaos">
                          <mat-datepicker-toggle matSuffix [for]="seaos"></mat-datepicker-toggle>
                          <mat-datepicker #seaos></mat-datepicker>
                          <mat-hint>mm/dd/yyyy</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput [matDatepicker]="prd" formControlName="prd" placeholder="PRD" id="prd" name="prd">
                          <mat-datepicker-toggle matSuffix [for]="prd"></mat-datepicker-toggle>
                          <mat-datepicker #prd></mat-datepicker>
                          <mat-hint>mm/dd/yyyy</mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput [matDatepicker]="reportDate" formControlName="report" placeholder="Report Date" id="reportDate" name="reportDate">
                          <mat-datepicker-toggle matSuffix [for]="reportDate"></mat-datepicker-toggle>
                          <mat-datepicker #reportDate></mat-datepicker>
                          <mat-hint>mm/dd/yyyy</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput [matDatepicker]="tirDate" formControlName="tir" placeholder="TIR Date" id="tirDate" name="tirDate">
                          <mat-datepicker-toggle matSuffix [for]="tirDate"></mat-datepicker-toggle>
                          <mat-datepicker #tirDate></mat-datepicker>
                          <mat-hint>mm/dd/yyyy</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput placeholder="Destination UIC" formControlName="uic" id="destUIC" name="destUIC">
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput placeholder="Destination Command" formControlName="command" id="destCommand" name="destCommand">
                        </mat-form-field>
                      </div>
                    </div>
                    <!-- TODO:  fix styling -->
                    <mat-checkbox formControlName="bluebadge">Blue Badge</mat-checkbox>
                    <div>
                      <!-- TODO:  Make sure this works -->
                      <!-- TODO:  disable if forms not valid -->
                      <button mat-fab color="primary" [disabled]="!adminFormGroup.valid" (click)="signUp()" style="float:right">Submit</button>
                      <button mat-fab matStepperPrevious color="secondary" style="float:left">Back</button>

                    </div>
                  </div>
                </form>
              </mat-step>
            </mat-horizontal-stepper>

            <!-- TODO:  reimplement this password feedback -->
            <!-- <em ng-show="showPwRules">
            <label ng-class="hasUpper ? 'validated' : 'invalidated'">1+ uppercase, </label>
            <label ng-class="hasLower ? 'validated' : 'invalidated'">1+ lowercase, </label>
            <label ng-class="hasDigit ? 'validated' : 'invalidated'">1+ digit, </label>
            <label ng-class="hasSpecial ? 'validated' : 'invalidated'">1+ special character</label>
            <label ng-class="hasSix ? 'validated' : 'invalidated'">6+ characters, </label>
          </em> -->

            <app-messages></app-messages>
            <!-- TODO: convert from js... animate or do something cooler.  a modal? -->
            <!-- <em ng-show="validForm">
                <span class="highlight" style="font-size: 16px">Your username is: {{registration.firstName | lowercase}}.{{registration.lastName | lowercase}}</span>
              </em> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>