.form-container {
    width: 100%;
    height: 100%;
    padding: 10px;
}
mat-form-field.mat-form-field {
    width:100%;
}
// .mat-horizontal-stepper.mat-horizontal-stepper {
//     height: 640px;
// }
  