<button type="button" class="btn btn-info btn-block" style="color:white" (click)="showAdd=true">
    <i class="fa fa-check-square-o"></i>&nbsp; New ToDo
</button>
<div *ngIf="showAdd">
    <form #toDoForm="ngForm" novalidate>
        <div class="form-group container" style="padding-top: 10px">
            <a href="#" class="float-right" (click)="showAdd=false">
                <i class="fa fa-close"></i>
            </a>
            <label for="toDoItem" style="padding-top: 5px">To Do:</label>
            <input type="text" name="toDoItem" id="toDoItem" class="form-control" [(ngModel)]="newToDo.toDoItem" name="toDoItem" placeholder="What do you need to do?"
                required>
        </div>
        <hr class="mx-3 my-0">
        <div class="form-group container">
            <label for="dueDate" style="padding-top: 5px">Date:</label>
            <!-- {{newToDo.dueDate}} -->
            <input type="date" name="dueDate" class="form-control" [(ngModel)]="newToDo.dueDate" name="dueDate">
        </div>
        <hr class="mx-3 my-0">
        <div class="form-group container">
            <label for="dueDate" style="padding-top: 5px">Time:</label>
            <input type="text" name="dueDate" class="form-control" [(ngModel)]="newToDo.time" name="time">
        </div>
        <hr class="mx-3 my-0">
        <!-- TODO:  use flex to evenly space buttons -->
        <div class="form-group container">
            <label for="dueDate" style="padding-top: 5px">Priority:</label>
            <br>
            <label>
                <input type="radio" [(ngModel)]="newToDo.priority" name="priorityHi" value="high">&nbsp;High</label>
            <label>
                <input type="radio" [(ngModel)]="newToDo.priority" name="priorityMd" value="medium">&nbsp;Medium</label>
            <label>
                <input type="radio" [(ngModel)]="newToDo.priority" name="priorityLo" value="low" selected>&nbsp;Low</label>
        </div>
        <div align="center">
            <button type="button" class="btn btn-success" (click)="saveToDo(toDoForm.valid)" [disabled]="toDoForm.invalid">
                <i class="fa fa-save"></i>&nbsp; Save ToDo</button>
        </div>
    </form>
    <br>
    <hr class="mx-3 my-0">
</div>
<!-- TO DO LIST  -->
<div [hidden]="(todos$ | async) || showAdd" class="container" align="center">
    <br>
    <br>
    <p class="text-muted">You do not have anything
        <br>on your ToDo list.
        <br>Click "New ToDo" to begin.</p>
</div>
<div *ngFor="let td of todos$ | async">
    <div class="callout m-0 py-3" [ngClass]="{
        'callout-danger': td.priority === 'high',
        'callout-warning': td.priority === 'medium',
        'callout-success': td.priority === 'low'
     }">
        <div>
            <a href="#" (click)="updateToDo(td)">{{td.toDoItem}}</a>
            <span class="float-right">
                <a href="#" (click)="delToDo(td)">
                    <i class="fa fa-close text-muted"></i>
                </a>
            </span>
        </div>
        <div [hidden]="!td.dueDate">
            <small class="mr-3">
                <i class="icon-calendar"></i>&nbsp; {{td.dueDate | date:'MM/dd/yyyy'}}</small>
            <small class="mr-3" [hidden]="!td.time">
                <i class="fa fa-clock-o"></i>&nbsp; {{td.time}}</small>
        </div>
    </div>
    <hr class="mx-3 my-0">
</div>