<div class="animated fadeIn">
  <div class="row" style="padding:10px">
    <div class="col-lg-4" style="padding-left:0px !important;">
      <div class="card" style="height:90vh;overflow-y:scroll;">
        <div class="container">
          <div class='card-block'>
            <app-project-list [completedProjects]="completedProjects" [incompleteProjects]="incompleteProjects"></app-project-list>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8" style="padding-left:0px !important;padding-right:0px !important;">
      <div class="card" style="height:90vh;overflow-y:scroll;">
        <div class="container">
          <div class='card-block'>
            <router-outlet>
              <app-your-projects *ngIf="!currentRoute?.includes('/details')"></app-your-projects>
            </router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>