.example-container {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    min-width: 100%;
  }
  .head-container {
    background-color: white;
  }
  .id-field {
    width: 50px;
  }
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }