<!-- TODO:  convert to material tabs -->
<div class="row">
  <div class="col-lg-6">
    <span style="font-size:1.5vw;font-weight:600">N57 Projects</span>
  </div>
  <div class="col-lg-6">
    <!-- TODO:  add routerLink to new project page -->
    <a href="#" class="btn btn-success float-right">
      <i class="fa fa-plus"></i>&nbsp;New Project
    </a>
  </div>
</div>
<hr>
<!-- TABS  -->
<div style="width:100%">
  <input type="search" [(ngModel)]="search" class="form-control" placeholder="Filter projects...">
</div>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      Current Projects&nbsp;
      <span class="badge-pill badge-info" style="color: white">{{currentProjects.length}}</span>
    </ng-template>
    <div class="tab-content">
      <!-- CURRENT PROJECTS TAB  -->
      <div class="tab-pane active" id="current" name="current" role="tabpanel">
        <!-- TODO:  search filter -->
        <div *ngFor="let project of currentProjects">
          <div class="projRow">
            <div>
              <span>
                <strong>{{project.title}}</strong>
              </span>
            </div>
            <div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
              {{project.description}}
            </div>
            <div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;text-align:center">
              <span class="fade" style="padding-right: 50px;">
                <i class="fa fa-cogs"></i>&nbsp;
                <a routerLink="/projects/details/{{project.id}}">Details</a>
              </span>
              <span class="fade">
                <i class="fa fa-users"></i>&nbsp;
                <span>
                  <i class="fa fa-caret-right-o"></i>{{project.team}}&nbsp;</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Past Projects&nbsp;
      <span class="badge-pill badge-info" style="color: white">{{pastProjects.length}}</span>
    </ng-template>
    <div *ngFor="let project of pastProjects">
      <div class="projRow">
        <div>
          <span>
            <strong>{{project.title}}</strong>
          </span>
        </div>
        <div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
          {{project.description}}
        </div>
        <div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" align="center">
          <span class="fade" style="padding-right: 50px;">
            <i class="fa fa-cogs"></i>&nbsp;
            <a routerLink="/projects/details/{{project.id}}">Details</a>
          </span>
          <span class="fade">
            <i class="fa fa-users"></i>&nbsp;
            <span>
              <i class="fa fa-caret-right-o"></i>{{project.team}}&nbsp;</span>
          </span>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>